.page-wrap

  header.gc-header-standard.gc-header-login
    .container
      .col-xs-12.col-sm-6.gc-login-form-wrapper

        h1.text-center
          | Sign In to your account

        form.gc-login-form(role='form')
          .form-group.row.gc-login-social

            .col-xs-12.col-md-6.text-xs-center.text-md-left
              span.btn.btn-primary(data-social='fb')
                i.fa.fa-facebook
                | Sign in with Facebook

            .col-xs-12.col-md-6.text-xs-center.text-md-right
              span.btn.btn-danger(data-social='gplus')
                i.fa.fa-google-plus
                | Sign in with Google+

          .form-group
            label(for='gc-signin-email')
              | Email address
            input#gc-signin-email.form-control(
              type='text'
              name='username'
              placeholder='Enter email'
              tabindex=1
              autofocus
              maxlength=256
            )
            label.gc-error-message

          .form-group
            label(for='gc-signin-password')
              | Password
            a.pull-right.forgot-password-link(
                href='#forgot-password'
                tabindex=5
                maxlength=256
              )
              | Forgot password
            input#gc-signin-password.form-control(
              type='password'
              name='password'
              placeholder='Enter Password'
              autocomplete='off'
              tabindex=2
            )

          .form-group.row
            //-.col-xs-6
              .checkbox
                label
                  input(
                    type='checkbox'
                    tabindex=4
                  )
                  | Remember Me
            .col-xs-12.text-right
              button.btn.btn-default(
                type='submit'
                tabindex=3
              )
                | Sign in

        p.gc-login-signup-wrapper.text-center
          | Don't have an account? &nbsp;
          a(href='/#signup-role')
            | Sign up

#gc-signup-message.modal.fade.gc-modal
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        button.close(data-dismiss='modal')
          span Close
        h4.modal-title
          span
            img(src=require('app/images/icon-individuals.png'), alt='')
          | Congratulations!
      .modal-body
        .row
          .col-xs-12
            p
              | Welcome to GymCloud!
              br
              | Now you can sign in with your email and password.
      .modal-footer
        .row
          .col-xs-12.text-center
            button.btn.btn-primary(data-dismiss='modal')
              | Start using GymCLoud
