- 
.modal-content
  .modal-header
    button.close(data-dismiss='modal')
      span
        | Close
    h4.modal-title
      span
        img(src=require('app/images/icon-cup-white.png'), alt='')
      | Add #{singularName}
  form.form(role='form')
    .modal-body
      .form-group
        label.control-label
          | Enter name
        input.form-control(
          type='text'
          data-bind='name'
          maxlength='128'
        )
    .modal-footer
      .row
        .col-xs-12.text-right
          button.btn.btn-primary.gc-add-personal-best-add(type='submit')
            | Add #{singularName}
