.container
  .gc-login-form-wrapper.col-sm-6.cal-xs-12
    h1
      img.gc-content-nav-back(src=require('images/prev_btn.png'))
      span
        | Congratulations!
    form.gc-signup-form

      .row(class=s.icon)

      .row(class=s.title)
        | You have completed the written assessment.

      .row(class=s.description)
        | It's time to get moving with the GymCloud Movement Quality Assessment! Now you will be redirected to the GymCloud movement quality assessment located under the workouts section. Please read the workout description and watch each video in order to understand exactly what you should do prior to attempting each exercise.

      .row(class=s.buttons)
        .btn.gc-btn-primary-outline(class=s.btn)
          | Start Now
