.modal-content
  .modal-header
    button.close(data-dismiss='modal')
      span
        | Close
    h4.modal-title
      span.icon-single-individual
        img(src=require('app/images/icon-individuals.png'), alt='')
      | Add 
      client-title
        = clientType
  form.form(role='form')
    .modal-body
      .row
        .col-xs-12
          .form-group
          .row
            .col-xs-12
              .form-group
                label(for='first_name')
                  | First Name
                label.gc-error-message
                .name-wrapper
                  input.form-control(
                    name='first_name'
                    type='text'
                    maxlength='128'
                    value=first_name
                    placeholder='e.g. John'
                  )
                span.gc-valid-icon.fa.fa-check.hide
          .row
            .col-xs-12
              .form-group
                label(for='last_name')
                  | Last Name
                label.gc-error-message
                input.form-control(
                  name='last_name'
                  type='text'
                  maxlength='128'
                  value=last_name
                  placeholder='e.g. Smith'
                )
                span.gc-valid-icon.fa.fa-check.hide
          .row
            .col-xs-12
              .form-group
                label(for='email')
                  | Email
                label.gc-error-message
                .email-wrapper
                  input.form-control(
                    name='email'
                    type='email'
                    value=email
                    placeholder='Email'
                    maxlength=256
                  )
                span.gc-valid-icon.fa.fa-check.hide
    .modal-footer
      .row
        .col-xs-12.text-right
          button.btn.btn-primary(type='submit')
            | Save
          span.button-separate
            | or
          button.btn.btn-primary(data-action='invite', type='button')
            | SAVE &amp; Invite
