.gc-exercises-assign
  .gc-exercises-assign-empty
    img(src=require('app/images/#{resource}-empty.svg'), alt=' ' width='46')
    p
      | No #{resources} currently assigned to this client
    p
      | To add specific #{resource}, enter #{resource} name in search bar above.
      | To see a list of #{resources} in your library, select "See #{resource} list" below.
    a.btn.btn-link.gc-exercises-assign-add
      | See #{resource} list
