div(class=s.question_number)
  | Question 1

div(class=s.title)
  | Select Gender

div(class=s.form)
  label
    input(type='radio', name='gender', value='male')
    div(class=s.gender_text)
      | Male
  label
    input(type='radio', name='gender', value='female')
    div(class=s.gender_text)
      | Female
