.container
  .gc-login-form-wrapper.col-sm-6.cal-xs-12
    h1
      img.gc-content-nav-back(src=require('images/prev_btn.png'))
      span
        | Payment Successful!
    form.gc-signup-form

      .row(class=s.icon)

      .row(class=s.title)
        | Payment Successful!

      .row(class=s.description)
        | We need you to answer a few questions to understand your goals.

      .row(class=s.buttons)
        .btn.gc-form-submit-button(class=s.next)
          | Next
