a#gc-workout-actions-dropdown.gc-workout-actions-button.btn.btn-primary(
  data-toggle='dropdown'
  aria-haspopup='true'
  role='button'
  aria-expanded='false'
)
ul.dropdown-menu.pull-right.gc-actions-list(
  role='menu'
  aria-labelledby='gc-workout-actions-dropdown'
)
